*.xml
*.iml
.ipynb_checkpoints
pycache/

/notebooks
/credentials
/data

/miniconda3/
/config/
/airflow_etl_template/airflow/src/logs/
/airflow_etl_template/airflow/src/airflow.db
/airflow_etl_template/airflow/src/unittests.cfg
/airflow_etl_template/airflow/src/airflow-webserver.pid
/.idea/
